In [1]:
%matplotlib inline
import pprint  
import math
import numpy as np
import numpy.random as npr
import pandas as pd
import random
import warnings
import collections as ct
from scipy import stats
import scipy.stats as st
from scipy.stats import norm, rayleigh
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from pylab import plot, show,hist,figure,title
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import Imputer
from sklearn.metrics import r2_score

/anaconda/envs/py36/lib/python3.6/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [10]:
df = pd.read_csv('NBADraft 1985-2016 Scrape.csv')

In [11]:
VORP_Per_Pick_Mean = df['NBA VORP'].groupby([df['Pk']]).mean()

In [19]:
VORP_Per_Pick_High = df['NBA VORP'].groupby([df['Pk']]).max()

In [30]:
d = {'VORP Per Pick High': VORP_Per_Pick_High[0:60],'VORP Per Pick Mean': VORP_Per_Pick_Mean[0:60]}

In [34]:
VORP_Per_Pick = pd.DataFrame(data = d)

In [35]:
print(VORP_Per_Pick)

    VORP Per Pick High  VORP Per Pick Mean
Pk
1                 89.3           12.174194
2                 78.2            6.506452
3                  9.8            5.062500
4                  9.8            4.740625
5                 94.0            7.509375
6                  9.9            2.353125
7                  7.8            3.125000
8                  9.7            3.178125
9                 66.0            4.871875
10                61.5            5.478125
11                63.2            5.077419
12                11.4            2.546875
13                72.1            4.893750
14                 9.5            2.109375
15                 9.1            2.409677
16                 9.8            1.729032
17                 9.8            2.353125
18                 9.8            2.346875
19                 8.8            1.550000
20                 8.4            1.056250
21                 9.8            3.246875
22                 9.2            2.009375
23                 9.8            2.286667
24                 9.3            2.596774
25                 8.1            0.858065
26                 9.0            1.856667
27                 8.7            1.890323
28                 9.9            1.246667
29                 9.4            1.203704
30                 8.5            1.331034
31                 5.1            0.414286
32                 4.6            0.312903
33                 5.6            0.340625
34                 8.9            0.853571
35                 8.7            1.318519
36                 9.9            0.696154
37                 6.2            1.113793
38                 8.2            0.973077
39                 7.1            0.840000
40                 5.7            0.681481
41                 8.3            1.007407
42                 8.4            1.126316
43                 6.9            0.737037
44                 4.5            0.629412
45                 9.7            2.365385
46                 6.7            0.804167
47                 8.9            1.483333
48                 9.2            0.845455
49                 5.4            0.715789
50                 6.4            0.638889
51                 9.9            0.537500
52                 6.9            0.309091
53                 5.8            0.506250
54                 4.9            0.566667
55                 7.2            1.314286
56                 4.0            0.233333
57                 7.7            1.625000
58                 2.4            0.154545
59                 0.0           -0.125000
60                 8.8            1.885714

In [3]:
df.head()

,Year,Rk,Pk,Tm,Round 1 Player,Player ID,Round 1 College,Yrs,Totals G,Totals MP,...,Per Game MP,Per Game PTS,Per Game TRB,Per Game AST,Advanced WS,Advanced WS/48,Advanced BPM,College VORP,NBA VORP,NBA VORP Count
0,2016,1,1,PHI,Ben Simmons\simmobe01,simmobe01,Louisiana State University,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2,2,LAL,Brandon Ingram\ingrabr01,ingrabr01,Duke University,1.0,79.0,2279.0,...,28.8,9.4,4.0,2.1,-0.3,-0.007,-3.8,-1.1,-1.1,2.0
2,2016,3,3,BOS,Jaylen Brown\brownja02,brownja02,University of California,1.0,78.0,1341.0,...,17.2,6.6,2.8,0.8,1.5,0.053,-4.0,-0.7,-0.7,2.0
3,2016,4,4,PHO,Dragan Bender\bendedr01,bendedr01,No School,1.0,43.0,574.0,...,13.3,3.4,2.4,0.5,-0.3,-0.029,-4.3,-0.3,-0.3,2.0
4,2016,5,5,MIN,Kris Dunn\dunnkr01,dunnkr01,Providence College,1.0,78.0,1333.0,...,17.1,3.8,2.1,2.4,0.1,0.004,-2.2,-0.1,-0.1,2.0

In [4]:
df_filtered = df
#enc = OneHotEncoder
#df_train['NBA VORP'] = pd.to_numeric(df_train['NBA VORP'], errors='coerce')
one_hot_college = pd.get_dummies(df_filtered['Round 1 College'])
one_hot_college = one_hot_college.apply(pd.to_numeric, errors='ignore')
one_hot_team = pd.get_dummies(df_filtered['Tm'])
one_hot_team = one_hot_team.apply(pd.to_numeric, errors='ignore')
df_filtered = df_filtered.drop('Round 1 College', axis = 1)
df_filtered = df_filtered.drop('Tm', axis = 1)
df_filtered = df_filtered.join(one_hot_college)
df_filtered = df_filtered.join(one_hot_team)
df_temp = df_filtered.iloc[:,5:]
df_filtered = df_filtered.drop(df_filtered.columns[5:],axis = 1)

In [5]:
df_filtered.head()

   Year  Rk  Pk            Round 1 Player  Player ID
0  2016   1   1     Ben Simmons\simmobe01  simmobe01
1  2016   2   2  Brandon Ingram\ingrabr01  ingrabr01
2  2016   3   3    Jaylen Brown\brownja02  brownja02
3  2016   4   4   Dragan Bender\bendedr01  bendedr01
4  2016   5   5        Kris Dunn\dunnkr01   dunnkr01

In [178]:
fill_NaN = Imputer(missing_values=np.nan, strategy='mean', axis=1)
df_imputed = pd.DataFrame(fill_NaN.fit_transform(df_temp))
df_imputed.columns = df_temp.columns
df_imputed.index = df_temp.index
df_filtered = df_filtered.join(df_imputed)
df_filtered.dropna()
df_query = df_filtered

In [179]:
drop_index = []
for i in range(0,len(df)):
    if math.isnan(df_filtered['NBA VORP'][i]) or math.isnan(df_filtered['NBA VORP Count'][i]) or df_filtered['NBA VORP Count'][i] < 3.0:
        drop_index.append(i)
        
df_filtered = df_filtered.drop(df_filtered.index[drop_index])
df_filtered['is_train'] = np.random.uniform(0, 1, len(df_filtered)) <= .75
train, test = df_filtered[df_filtered['is_train']==True], df_filtered[df_filtered['is_train']==False]
train = train.drop('is_train',axis = 1)
test = test.drop('is_train', axis = 1)

In [180]:
train.head()

,Year,Rk,Pk,Round 1 Player,Player ID,Yrs,Totals G,Totals MP,Totals PTS,Totals TRB,...,PHO,POR,SAC,SAS,SEA,TOR,UTA,VAN,WAS,WSB
5,2016,6,6,Buddy Hield\hieldbu01,hieldbu01,1.0,82.0,1888.0,866.0,269.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2015,2,2,D'Angelo Russell\russeda01,russeda01,2.0,143.0,4070.0,2038.0,496.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2015,3,3,Jahlil Okafor\okafoja01,okafoja01,2.0,103.0,2725.0,1518.0,613.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,2015,4,4,Kristaps Porzingis\porzikr01,porzikr01,2.0,138.0,4211.0,2224.0,1001.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,2015,5,5,Mario Hezonja\hezonma01,hezonma01,2.0,144.0,2373.0,795.0,322.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [182]:
column_list = list(range(train.shape[1]))
column_list.remove(3)
column_list.remove(4)
column_list.remove(22)
column_list.remove(23)
cols = train.columns[column_list]
train_input = train[cols]
column_list = list(range(test.shape[1]))
column_list.remove(3)
column_list.remove(4)
column_list.remove(22)
column_list.remove(23)
cols = test.columns[column_list]
test_input = test[cols]

In [55]:
fill_NaN = Imputer(missing_values=np.nan, strategy='mean', axis=1)
train_imputed = pd.DataFrame(fill_NaN.fit_transform(train_input))
train_imputed.columns = train_input.columns
train_imputed.index = train_input.index

fill_NaN = Imputer(missing_values=np.nan, strategy='mean', axis=1)
test_imputed = pd.DataFrame(fill_NaN.fit_transform(test_input))
test_imputed.columns = test_input.columns
test_imputed.index = test_input.index

In [56]:
rf = RandomForestRegressor(n_estimators=20)
rf.fit(train_imputed, train['NBA VORP'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [57]:
r2 = r2_score(test['NBA VORP'], rf.predict(test_imputed[cols]))
mse = np.mean((test['NBA VORP'] - rf.predict(test_imputed[cols]))**2)

In [58]:
print(r2)
print(mse)

0.991816971319
0.490604906542

In [59]:
def queryYear(df, year):
    df_filtered = df[df['Year'] == year]
    return df_filtered

def preProcessing(df):
#     df_filtered = df.dropna()
#     one_hot_college = pd.get_dummies(df_filtered['Round 1 College'])
#     one_hot_college = one_hot_college.apply(pd.to_numeric, errors='ignore')
#     one_hot_team = pd.get_dummies(df_filtered['Tm'])
#     one_hot_team = one_hot_team.apply(pd.to_numeric, errors='ignore')
#     df_filtered = df_filtered.drop('Round 1 College', axis = 1)
#     df_filtered = df_filtered.drop('Tm', axis = 1)
#     df_filtered = df_filtered.join(one_hot_college)
#     df_filtered = df_filtered.join(one_hot_team)
#     drop_index = []
#    for i in range(0,len(df)):
#        if math.isnan(df_filtered['NBA VORP'][i]) or math.isnan(df_filtered['NBA VORP Count'][i]):
#            drop_index.append(i)    
#   df_filtered = df_filtered.drop(df_filtered.index[drop_index])
    column_list = list(range(df_filtered.shape[1]))
    column_list.remove(3)
    column_list.remove(4)
    column_list.remove(23)
    cols = df_filtered.columns[column_list]
    df_input = df_filtered[cols]
    fill_NaN = Imputer(missing_values=np.nan, strategy='mean', axis=1)
    df_imputed = pd.DataFrame(fill_NaN.fit_transform(df_input))
    df_imputed.columns = df_input.columns
    df_imputed.index = df_input.index
    return df_imputed

    
def str_column_to_float(dataset, column):
	for row in dataset:
		row[column] = float(row[column].strip())

In [148]:
df_VORP = df['NBA VORP'].groupby([df['Year']]).mean()

In [152]:
df_VORP = df_VORP.to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [153]:
print(df_VORP)

      NBA VORP
Year
1985  1.678788
1986  1.436765
1987  4.161818
1988  2.163793
1989  1.668750
1990  1.759615
1991  2.122727
1992  2.720833
1993  2.311628
1994  3.977778
1995  3.828000
1996  3.417021
1997  3.791489
1998  4.217857
1999  2.406522
2000  1.696000
2001  2.118367
2002  1.312500
2003  4.859574
2004  2.608696
2005  2.792727
2006  1.444231
2007  2.034694
2008  2.531373
2009  2.786000
2010  1.827451
2011  1.975926
2012  1.180357
2013  1.605882
2014  0.446154
2015  0.373810
2016 -0.182222

In [160]:
predictions = []
for i in range(2010,2017):
    df_temp = queryYear(df_query,i)
    predictions.append(np.mean(rf.predict(df_temp[cols])))

In [161]:
print(predictions)

[1.5503333333333336, 1.7761666666666669, 1.0978333333333334, 1.363, 0.38608333333333333, 0.26083333333333336, -0.14108333333333334]

In [155]:
for i in range(0,3):
    df_VORP.iloc[29+i][0] = predictions[i]

In [157]:
df_VORP.tail()

      NBA VORP
Year
2012  1.180357
2013  1.605882
2014  0.386083
2015  0.260833
2016 -0.141083